body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.task-cat-emp {
    padding: 0.2rem 0.6rem !important;
    font-size: 14px !important;
}

#user-actions .card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.page-footer {
    background-color: #FCFCFC;
    border-top: 1px solid;
    border-top-color: #0288d1;
}

footer {
    padding-left: 240px;
}

.footer-copyright {
    background-color: #0288d1 !important;
}
