body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}

.task-cat-emp {
    padding: 0.2rem 0.6rem !important;
    font-size: 14px !important;
}

#user-actions .card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.page-footer {
    /*background-color: #FCFCFC;*/
    background: #edf1f7;
    border-top: 1px solid;
    border-top-color: #0288d1;
}

footer {
    padding-left: 240px;
}

.footer-copyright {
    background-color: #0288d1 !important;
}

/* Index page */
#user-actions .container .row .col.l2 {
    width: 20%;
}

.main-nav .user img {
    width: 35px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: white;
}

/* Login page */

#forgot-password form, #lock form, #sign-in form, #sign-up form {
    position: relative;
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    z-index: 2;
    padding-left: 25px;
    padding-right: 25px;
}

main {
    background: #edf1f7;
}

#sign-in {
    padding-top: 180px;

}

#sign-in button {
    margin-top: .5rem;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.alert {
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 2px;
    background-color: #FFCDD2;
    color: #E53935;
}