<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="mainLayout">
<head>
    <meta charset="UTF-8" />
    <title>Access committee</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body>

<div layout:fragment="content">

    <script src="webjars/vue/2.5.13/vue.js"></script>
    <script src="webjars/vue-router/3.0.1/dist/vue-router.js"></script>
    <script src="webjars/axios/0.18.0/dist/axios.js"></script>

    <div id="root" class="row">
        <x-sidebar :user="user"></x-sidebar>
        <router-view></router-view>
    </div>

    <script id="sidebar" type="text/x-template">
        <div class="col m2">
            <aside id="left-sidebar-nav">
                <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y"
                    style="width: 250px;">

                    <li class="user-details" style="border-bottom: 1px solid #B83F0D; height: 6rem">
                        <div class="row">
                            <div class="col s4 m4 l4">
                                <img class="circle responsive-img valign profile-image" th:src="@{/static/img/login.png}" />
                            </div>
                            <div class="col s8 m8 l8">
                                <a class="btn-flat waves-effect waves-light profile-btn" href=""><b>{{ user.name }}</b></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <router-link to="/dbac">
                            <i class="material-icons">alarm</i> Requested Carts
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dbac/approved">
                            <i class="material-icons">done</i> Approved Carts
                        </router-link>
                    </li>
                    <li>
                        <router-link to="/dbac/rejected">
                            <i class="material-icons">clear</i> Rejected Carts
                        </router-link>
                    </li>
                </ul>
            </aside>
        </div>
    </script>

    <script th:src="@{/static/js/vuejs/dbac/state.js}"></script>
    <script th:src="@{/static/js/vuejs/dbac/main.js}"></script>
</div>
</body>
</html>