<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="catalog/default">
<head>
    <title th:text="#{message.resetPassword}">reset</title>
</head>

<body>
<div id="forgot-password" layout:fragment="content" style="margin: 9rem auto 0">

    <div class="container" style="width: 35%">
        <div th:if="${param.message != null}" class="alert orange lighten-2 white-text text-darken-2" th:text="${param.message[0]}">message</div>
        <div th:if="${param.error != null}" class="alert orange lighten-2 white-text text-darken-2" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
    </div>
    <div class="row"></div>
    <form action="#">
        <div class="card-panel clearfix">
            <div class="alert orange lighten-5 red-text text-darken-2">
                <strong><i class="fa fa-css3"></i></strong>&nbsp;
                <span th:text="#{message.resetPassword}">reset</span>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>

            <div class="input-field">
                <i class="fa fa-envelope prefix"></i>
                <input id="email" name="email" type="email" class="validate" required="required"/>
                <label for="email" class="">Email</label>
            </div>

            <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover red lighten-1" type="submit">Reset</button>
        </div>
    </form>

<script th:inline="javascript">
/*<![CDATA[*/
var serverContext = [[@{/}]];

$(document).ready(function () {
    $('form').submit(function(event) {
        resetPass(event);
    });
});

function resetPass(event){
    event.preventDefault();
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
        window.location.href = serverContext + "forgetPassword.html?message=" + data.message;
    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "forgetPassword.html?message=" + data.responseJSON.message;
        }
    });
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
/*]]>*/
</script>

</div>
</body>

</html>