<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="layout">
<head>
    <title th:text="#{message.resetPassword}">reset</title>
</head>

<body>
<section id="forgot-password" layout:fragment="content" class="sec-padded-1x">
    <canvas id="bubble-canvas" width="1861" height="558" style="position: fixed; top: 0px; left: 0px; z-index: 1;"></canvas>
    <form action="#">
        <div class="card-panel clearfix">
            <div class="alert blue lighten-5 blue-text text-darken-2">
                <strong><i class="fa fa-css3"></i></strong>&nbsp;
                <span th:text="#{message.resetPassword}">reset</span>
            </div>
            <div class="row">
                <div class="col"></div>
            </div>

            <div class="input-field">
                <i class="fa fa-envelope prefix"></i>
                <input id="email" name="email" type="email" class="validate" required="required"/>
                <label for="email" class="">Email</label>
            </div>

            <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover" type="submit">Reset</button>
        </div>
    </form>

<script th:inline="javascript">
/*<![CDATA[*/
var serverContext = [[@{/}]];

    $(document).ready(function () {
        $('form').submit(function(event) {
            resetPass(event);
        });
    });

    function resetPass(event){
        event.preventDefault();
        var email = $("#email").val();
        $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "login?message=" + data.message;
        })
            .fail(function(data) {
                if(data.responseJSON.error.indexOf("MailError") > -1)
                {
                    window.location.href = serverContext + "emailError.html";
                }
                else{
                    window.location.href = serverContext + "login?message=" + data.responseJSON.message;
                }
            });
    }

    $(document).ajaxStart(function() {
        $("title").html("LOADING ...");
    });
/*]]>*/
</script>

</section>
</body>

</html>