<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="layout">

<head>
    <title th:text="#{label.pages.home.title}">home</title>
</head>

<body>
<section id="success-registration" layout:fragment="content" class="sec-padded-1x">
    <div class="container">
        <div class="card green">
            <div class="card-content">
                <h4 class="white-text">
                    <i class="mdi-navigation-check"></i>
                    <span th:text="#{message.sessionExpired}">expired</span>
                </h4>
            </div>
        </div>
    </div>
</section>
</body>

</html>