<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="catalog/default">

<head>
    <title th:text="#{label.pages.home.title}">home</title>
</head>

<body>
<section id="success-registration" layout:fragment="content" class="sec-padded-1x">
    <div class="container" style="width: 60%;">
        <div class="alert orange lighten-5 red-text text-darken-2">
            <strong><i class="fa fa-check"></i></strong>&nbsp;
            <span th:text="#{message.sessionExpired}" style="font-size: 16px;">Success</span>
        </div>
    </div>
</section>
</body>

</html>