<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="layout">
<head>
<title>Login</title>
<script th:inline="javascript">
/*<![CDATA[*/
    function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert(/*[[#{message.username} + #{message.password}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert(/*[[#{message.username}]]*/);
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert(/*[[#{message.password}]]*/);
            document.f.password.focus();
            return false;
        }
    }
/*]]>*/
</script>
</head>

<body>

<section id="sign-in" layout:fragment="content" class="sec-padded-1x">

    <canvas id="bubble-canvas" width="1861" height="558" style="position: fixed; top: 0px; left: 0px; z-index: 1;"></canvas>
    <div class="container">
        <div th:if="${param.message != null}" class="alert orange lighten-2 white-text text-darken-2" th:text="${param.message[0]}">message</div>
        <div th:if="${param.error != null}" class="alert orange lighten-2 white-text text-darken-2" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</div>
    </div>
    <form name="f" th:action="@{/login}" method="post" onsubmit="return validate()">
        <div class="row links">
            <div class="col s6 push-s6 right-align">
                <strong>Sign In</strong> / <a th:href="@{/registration.html}">Sign Up</a>
            </div>
        </div>

        <div class="card-panel clearfix">
            <div class="alert blue lighten-5 blue-text text-darken-2">
                <strong><i class="fa fa-css3"></i></strong>&nbsp;
                Sign in to YSTR database.
            </div>
            <div class="row">
                <div class="col"></div>
            </div>
            <!-- Username -->
            <div class="input-field">
                <i class="fa fa-user prefix"></i>
                <input id="username-input" name="username" class="validate" type="text"/>
                <label for="username-input" class="">Username</label>
            </div>
            <!-- /Username -->
            <!-- Password -->
            <div class="input-field">
                <i class="fa fa-unlock-alt prefix"></i>
                <input id="password-input" name="password" class="validate" type="password"/>
                <label for="password-input">Password</label>
            </div>
            <!-- /Password -->
            <div class="switch">
                <label>
                    <input checked="checked" type="checkbox"/>
                    <span class="lever"></span> Remember
                </label>
            </div>
            <button class="waves-effect waves-light btn-large z-depth-0 z-depth-1-hover">Sign In</button>
        </div>
    </form>
</section>

</body>
</html>