<!doctype html>
<html xmlns:layout="http://www.ultraq.net.nz/thymleaf/layout"
      xmlns:th="http://thymeleaf.org"
      layout:decorator="mainLayout">

<head>
    <title>Sign Up</title>
</head>

<body>
<div id="user-registration" layout:fragment="content">

    <div class="container" style="width: 63%;">
        <div class="card-panel clearfix">
            <form action="/" method="post" enctype="utf8">

                <h4>Registration Form</h4>
                <div class="alert orange lighten-5 red-text text-darken-2">
                    <strong><i class="fa fa-css3"></i></strong>&nbsp;
                    Sign up to H3Africa Catalogue database. All fields are required.
                </div>

                <div class="input-field" >
                    <label for="firstName" th:text="#{label.user.firstName}">first</label>
                    <input id="firstName" name="firstName" class="validate" type="text" required="required"/>
                    <span id="firstNameError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="lastName" th:text="#{label.user.lastName}">last</label>
                    <input id="lastName" name="lastName" class="validate" type="text" required="required"/>
                    <span id="lastNameError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="institutionName" th:text="#{label.user.institutionName}">last</label>
                    <input id="institutionName" name="institutionName" class="validate" type="text" required="required"/>
                    <span id="institutionNameError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="email" th:text="#{label.user.email}">email</label>
                    <input id="email" name="email" class="validate" type="email" required="required"/>
                    <span id="emailError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="username" th:text="#{label.user.username}">username</label>
                    <input id="username" name="username" class="validate" type="text" required="required"/>
                    <span id="usernameError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="password" th:text="#{label.user.password}">password</label>
                    <input id="password" name="password" type="password" class="validate" required="required"/>
                    <span id="passwordError" class="col s4" style="display:none"></span>
                </div>
                <div class="input-field">
                    <label for="matchPassword" th:text="#{label.user.confirmPass}">confirm</label>
                    <input id="matchPassword" name="matchingPassword" type="password" class="validate" required="required"/>
                    <span id="globalError" class="col s4" style="display:none"></span>
                </div>
                <br/>
                <button type="submit" class="btn waves-effect waves-light red center" th:text="#{label.form.submit}">submit</button>
            </form>
        </div>
    </div>


<script th:src="@{/static/js/pwstrength.js}"></script>

<script th:inline="javascript">
/*<![CDATA[*/
var serverContext = [[@{/}]];
$(document).ready(function () {
    $('form').submit(function(event) {
        register(event);
    });

    $(":password").keyup(function(){
        if($("#password").val() != $("#matchPassword").val()){
            $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        }else{
            $("#globalError").html("").hide();
        }
    });

    options = {
        common: {minChar:8},
        ui: {
            showVerdictsInsideProgressBar:true,
            showErrors:true,
            errorMessages:{
                wordLength: /*[[#{error.wordLength}]]*/,
                wordNotEmail: /*[[#{error.wordNotEmail}]]*/,
                wordSequences: /*[[#{error.wordSequences}]]*/,
                wordLowercase: /*[[#{error.wordLowercase}]]*/,
                wordUppercase: /*[[#{error.wordUppercase}]]*/,
                wordOneNumber: /*[[#{error.wordOneNumber}]]*/,
                wordOneSpecialChar: /*[[#{error.wordOneSpecialChar}]]*/
            }
        }
    };
    $('#password').pwstrength(options);
});

function register(event){
    event.preventDefault();
    $(".alert").html("").hide();
    $(".error-list").html("");
    if($("#password").val() !== $("#matchPassword").val()){
        $("#globalError").show().html(/*[[#{PasswordMatches.user}]]*/);
        return;
    }
    var formData= $('form').serialize();
    $.post(serverContext + "user/registration",formData ,function(data){
        if(data.message === "success"){
            window.location.href = serverContext + "successRegister.html";
        }

    })
    .fail(function(data) {
        if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else if(data.responseJSON.error == "UserAlreadyExist"){
            $("#emailError").show().html(data.responseJSON.message);
        }
        else if(data.responseJSON.error.indexOf("InternalError") > -1){
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
        else{
            var errors = $.parseJSON(data.responseJSON.message);
            $.each( errors, function( index,item ){
                if (item.field){
                    $("#"+item.field+"Error").show().append(item.defaultMessage+"<br/>");
                }
                else {
                    $("#globalError").show().append(item.defaultMessage+"<br/>");
                }

            });
        }
    });
}
/*]]>*/

</script>
</div>

</body>
</html>